doctype html

html(ng-app="clementineApp")
	
	head
		title Clementine.js - A lightweight MEAN stack boilerplate
		link(rel="stylesheet" type="text/css" href="/public/css/main.min.css")
	body

		.container
			img(src="/public/img/clementine_150.png")
			br
			p.clementine-text Clementine.js

		.container(ng-controller="clickController")
			p You have clicked the button {{ clicks }} times.
			br
			.btn-container
				button.btn(type="submit" ng-click="addClick()") CLICK ME!
				button.btn.btn-delete(ng-click="resetClicks()") RESET

		script(type="text/javascript" src="/public/lib/angular/angular.min.js")
		script(type="text/javascript" src="/public/lib/angular-resource/angular-resource.min.js")
		script(type="text/javascript" src="/public/scripts/site.min.js")

					
